@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html,button,input,select,textarea {
    font-family: 'Open Sans', sans-serif;
    color: #222
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4
}

a {
    color: #00e
}

a:visited {
    color: #551a8b
}

a:hover {
    color: #06e
}

a:focus {
    outline: thin dotted
}

a:hover,a:active {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold
}

pre,code,kbd,samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}
q {
    quotes: none
}
q:before,
q:after {
    content: "";
    content: none
}
small {
    font-size: 85%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px
}
dd {
    margin: 0 0 0 40px
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
form {
    margin: 0
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0
}
label {
    cursor: pointer
}
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}
button,
input {
    line-height: normal
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}
button[disabled],
input[disabled] {
    cursor: default
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}
input:invalid,
textarea:invalid {
    background-color: #f0dddd
}
label#emailLabel {
    margin-right: 9.5%
}
label.checkbox {
    margin-right: 2%;
    margin-left: 1%
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #555
}
td {
    vertical-align: top
}
.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: black;
    padding: .2em 0
}
.pagetitle {
    font-size: 45px;
    color: #666062;
    font-weight: 300
}
h1 {
    font-size: 34px;
    font-weight: 500
}
h2 {
    font-size: 29px;
    font-weight: 300
}
h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 500
}
::selection,
::-moz-selection {
    background: #a8d1ff
}
body {
    font-size: .9em
}
table.table th,
table.table td {
    text-align: right
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5!important
}
.header_one {
    color: #007398!important;
    border-bottom: 7px solid #007398;
    text-align: left!important
}
.header_two {
    color: #de7c00!important;
    border-bottom: 7px solid #de7c00;
    text-align: left!important
}
.header_three {
    color: #666062!important;
    border-bottom: 7px solid #666062;
    text-align: left!important
}
.header_one_color {
    color: #007398!important
}
.header_two_color {
    color: #de7c00!important
}
.header_three_color {
    color: #666062!important
}
.header_none {
    border-bottom: 0px solid #fff; border-top: 0px solid #fff!important;
}
table.table th {
    color: #f9b625;
    font-weight: normal
}
table.table th.header {
    font-weight: bold;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #eff9ff
}
table.table tr.last_column td {
    background-color: #1eec39;
    color: #d12b2b
}
table.table th[data-ng-click] {
    background: url('../img/sorting-arrows.gif') no-repeat center right;
    padding-right: 20px;
    cursor: pointer
}
table.table tr.descending th[data-ng-click].sorting {
    background: url('../img/sorting-arrows-desc.gif') no-repeat center right;
    padding-right: 20px;
    cursor: pointer
}
table.table tr.ascending th[data-ng-click].sorting {
    background: url('../img/sorting-arrows-asc.gif') no-repeat center right;
    padding-right: 20px;
    cursor: pointer
}
.table tbody tr.new-donor td {
    background-color: #dff0d8
}
.table-hover tbody tr.new-donor:hover td {
    background-color: #d0e9c6!important
}
.table tbody tr.top-fifty td {
    background-color: #bae1fb
}
.table-hover tbody tr.top-fifty:hover td {
    background-color: #b3d6ed!important
}
.table tfoot tr.total td {
    background-color: #bae1fb!important
}
.goldButton {
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #f9b625;
    border-radius: 4px;
    border: 0
}
.goldButton:hover {
    background-color: #de7c00;
    text-decoration: none;
    transition: all linear .2s;
}
.goldButton a,
.goldButton a:hover {
    color: #FFF!important;
    text-decoration: none
}
.pie-value {
    font-size: 1.2em
}
h1.pagetitle {
    float: left;
}
body#mpga div#mpga-heading span, span.goldButton {
    float: right;
    margin: 15px
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges
}
.bar {
    fill: steelblue
}
.x.axis path {
    display: none
}
p#badge {
    font-size: 14px
}
.badge-income {
    background: lightGreen
}
.badge-expenses {
    background: lightPink
}
.description-tooltip {
    width: 200px!important;
    overflow: hidden;
    text-overflow: ellipsis
}
#giving-range,
#giving-frequency,
#support-distribution,
#multiple-single,
#new-current-lost,
#total-income-expenses,
#expenses-pie-chart,
#income-expenses-by-month {
    height: 500px
}
.income-expenses td {
    padding: 8px 0
}
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0
}
.ir br {
    display: none
}
.hidden {
    display: none!important;
    visibility: hidden
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}
.invisible {
    visibility: hidden
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
@media print {
    * {
        background: transparent!important;
        color: black!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href)")"
    }
    abbr[title]:after {
        content: " (" attr(title)")"
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    @page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}.chartWrap{margin:0;padding:0;overflow:hidden}.nvtooltip{position:absolute;background-color:rgba(255,255,255,1);padding:10px;border:1px solid #ddd;
    z-index:10000;
    font-family:Arial;
    font-size:13px;
    transition:opacity 500ms linear;
    -moz-transition:opacity 500ms linear;
    -webkit-transition:opacity 500ms linear;
    transition-delay:500ms;
    -moz-transition-delay:500ms;
    -webkit-transition-delay:500ms;
    -moz-box-shadow:4px 4px 8px rgba(0,
    0,
    0,
    .5);
    -webkit-box-shadow:4px 4px 8px rgba(0,
    0,
    0,
    .5);
    box-shadow:4px 4px 8px rgba(0,
    0,
    0,
    .5);
    -moz-border-radius:10px;
    border-radius:10px;
    pointer-events:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.nvtooltip h3 {
    margin: 0;
    padding: 0;
    text-align: center
}
.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center
}
.nvtooltip span {
    display: inline-block;
    margin: 2px 0
}
.nvtooltip-pending-removal {
    position: absolute;
    pointer-events: none
}
svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    height: 100%
}
svg text {
    font: normal 14px sans-serif
}
svg .title {
    font: bold 14px Arial
}
.nvd3 .nv-background {
    fill: white;
    fill-opacity: 0
}
.nvd3.nv-noData {
    font-size: 18px;
    font-weight: bolf
}
.nv-brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges
}
.nvd3 .nv-legend .disabled circle {
    fill-opacity: 0
}
.nvd3 .nv-axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges
}
.nvd3 .nv-axis path.domain {
    stroke-opacity: .75
}
.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0
}
.nvd3 .nv-axis line {
    fill: none;
    stroke: #000;
    stroke-opacity: .25;
    shape-rendering: crispEdges
}
.nvd3 .nv-axis line.zero {
    stroke-opacity: .75
}
.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: bold
}
.nvd3 .x .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
    text-anchor: middle
}
.nv-brush .resize path {
    fill: #eee;
    stroke: #666
}
.nvd3 .nv-bars .negative rect {
    zfill: brown
}
.nvd3 .nv-bars rect {
    zfill: steelblue;
    fill-opacity: .75;
    transition: fill-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear
}
.nvd3 .nv-bars rect:hover {
    fill-opacity: 1
}
.nvd3 .nv-bars .hover rect {
    fill: lightblue
}
.nvd3 .nv-bars text {
    fill: rgba(0, 0, 0, 0)
}
.nvd3 .nv-bars .hover text {
    fill: rgba(0, 0, 0, 1)
}
.nvd3 .nv-x.nv-axis text {
    transform: rotate(90)
}
.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear
}
.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
    fill-opacity: 1
}
.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
    font-weight: bold;
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 0)
}
.nvd3.nv-pie path {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear
}
.nvd3.nv-pie .nv-slice text {
    stroke: #000;
    stroke-width: 0
}
.nvd3.nv-pie path {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 1
}
.nvd3.nv-pie .hover path {
    fill-opacity: .7
}
.nvd3.nv-pie .nv-label rect {
    fill-opacity: 0;
    stroke-opacity: 0
}
.nvd3 .nv-groups path.nv-line {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    shape-rendering: geometricPrecision
}
.nvd3 .nv-groups path.nv-area {
    stroke: none;
    stroke-linecap: round;
    shape-rendering: geometricPrecision
}
.nvd3 .nv-line.hover path {
    stroke-width: 6px
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0
}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: .5!important;
    stroke-opacity: .5!important
}
.nvd3 .nv-groups .nv-point {
    transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear
}
.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 20px;
    fill-opacity: .5!important;
    stroke-opacity: .5!important
}
.nvd3 .nv-point-paths path {
    stroke: #aaa;
    stroke-opacity: 0;
    fill: #eee;
    fill-opacity: 0
}
.nvd3 .nv-indexLine {
    cursor: ew-resize
}
.nvd3 .nv-distribution {
    pointer-events: none
}
.nvd3 .nv-groups .nv-point {
    pointer-events: none
}
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 20px;
    stroke-opacity: .5
}
.nvd3 .nv-scatter .nv-point.hover {
    fill-opacity: 1
}
.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: .7;
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear
}
.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: .9
}
.nvd3.nv-stackedarea .nv-groups .nv-point {
    stroke-opacity: 0;
    fill-opacity: 0
}
.nvd3.nv-stackedarea .nv-groups .nv-point.hover {
    stroke-width: 20px;
    stroke-opacity: .75;
    fill-opacity: 1
}
.nvd3.nv-linePlusBar .nv-bar rect {
    fill-opacity: .75
}
.nvd3.nv-linePlusBar .nv-bar rect:hover {
    fill-opacity: 1
}
.nvd3.nv-bullet {
    font: 10px sans-serif
}
.nvd3.nv-bullet rect {
    fill-opacity: .6
}
.nvd3.nv-bullet rect:hover {
    fill-opacity: 1
}
.nvd3.nv-bullet .nv-marker {
    stroke: #000;
    stroke-width: 2px
}
.nvd3.nv-bullet .nv-markerTriangle {
    stroke: #000;
    fill: #fff;
    stroke-width: 1.5px
}
.nvd3.nv-bullet .nv-tick line {
    stroke: #666;
    stroke-width: .5px
}
.nvd3.nv-bullet .nv-range.nv-s0 {
    fill: #eee
}
.nvd3.nv-bullet .nv-range.nv-s1 {
    fill: #ddd
}
.nvd3.nv-bullet .nv-range.nv-s2 {
    fill: #ccc
}
.nvd3.nv-bullet .nv-title {
    font-size: 14px;
    font-weight: bold
}
.nvd3.nv-bullet .nv-subtitle {
    fill: #999
}
.nvd3.nv-sparkline path {
    fill: none
}
.nvd3.nv-sparklineplus g.nv-hoverValue {
    pointer-events: none
}
.nvd3.nv-sparklineplus .nv-hoverValue line {
    stroke: #f44;
    stroke-width: 1.5px
}
.nvd3.nv-sparklineplus,
.nvd3.nv-sparklineplus g {
    pointer-events: all
}
.nvd3 .nv-hoverArea {
    fill-opacity: 0;
    stroke-opacity: 0
}
.nvd3.nv-sparklineplus .nv-xValue,
.nvd3.nv-sparklineplus .nv-yValue {
    stroke-width: 0;
    font-size: .8em;
    font-weight: normal
}
.nvd3.nv-sparklineplus .nv-yValue {
    stroke: #f66
}
.nvd3.nv-sparklineplus .nv-maxValue {
    stroke: #2ca02c;
    fill: #2ca02c
}
.nvd3.nv-sparklineplus .nv-minValue {
    stroke: #d62728;
    fill: #d62728
}
.nvd3.nv-sparklineplus .nv-currentValue {
    stroke: #444;
    fill: #444
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
    stroke-width: 2px
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
    stroke-width: 4px
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
    stroke: #2ca02c
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
    stroke: #d62728
}
.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
    font-weight: bold
}
.nvd3.nv-historicalStockChart .nv-dragTarget {
    fill-opacity: 0;
    stroke: none;
    cursor: move
}
.nvd3 .nv-brush .extent {
    fill-opacity: 0!important
}
.nvd3 .nv-brushBackground rect {
    stroke: #000;
    stroke-width: .4;
    fill: #fff;
    fill-opacity: .7
}
.nvd3.nv-indentedtree .name {
    margin-left: 5px
}
.nvd3.nv-indentedtree .clickable {
    color: #08C;
    cursor: pointer
}
.nvd3.nv-indentedtree span.clickable:hover {
    color: #005580;
    text-decoration: underline
}
.nvd3.nv-indentedtree .nv-childrenCount {
    display: inline-block;
    margin-left: 5px
}
.nvd3.nv-indentedtree .nv-treeicon {
    cursor: pointer
}
.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
    cursor: pointer
}
div.navbar-inner {
  padding-left: 0px;
}
#mpga div.navbar-inner {
  padding-left: 20px;
}
.dashboard {
  width: 745px;
}
.dashboard h4 {
  color: #555;
}
.dashboard td.total {
  font-weight: bold; color: #555;
}
.dashboard a {
  color: #007398; font-weight: bold;
}
.dashboard a:hover {
  color: #00ADE4; transition: all linear .2s;
}
.year-select {
  width: auto; margin-top: 5px; float: right;
}
.dashboard td {
  min-width: 40px;
}
tfoot tr td {
  font-weight: bold; color: #444; border-top: 1px solid #888!important;
}
.paystubs {
  font-size: 15px; padding-right: 18px; background-image: url('external_blue.gif'); background-repeat: no-repeat; background-position: right;
}
.paystubs:hover {
    background-image: url('external_teal.gif');
}

@media print {
    body#mpga div#mpga-heading span, div.header, .dashboard .navbar {
        display: none
    }
    .tab-pane {
      display: block!important; page-break-after:always;
    }
}
