<div>

    <div data-ng-include="'js/ng-app-paycheck-history/templates/loading.html'" data-ng-hide="summaryLoaded"></div>
    <div data-ng-show="summaryLoaded">
      <h4>{{owner.preferredFirstName}}'s Information</h4>
      <p ng-show="renderLink"><a href="{{paystubLink}}" target="_blank">View Paystubs</a></p>
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th colspan="1" class="header header_none">&nbsp;</th>
              <th colspan="3" class="header header_one">Gross Pay</th>
              <th colspan="4" class="header header_two">Deductions &amp; Withholdings</th>
              <th colspan="1" class="header header_three">Net Pay</th>
          </tr>
          <tr>
              <th class="header_none">&nbsp;</th>

              <th class="header_one_color">Regular</th>
              <th class="header_one_color">MHA</th>
              <th class="header_one_color">Gross Total</th>

              <th class="header_two_color">403(b)</th>
              <th class="header_two_color">Roth 403(b)</th>
              <th class="header_two_color">Taxes</th>
              <th class="header_two_color">Other</th>

              <th class="header_three_color"><strong>Net Total</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="line in summary | reverse">
              <td>{{line.paycheckDate | moment:'M/D/YY' }}</td>
              <td>{{line.regularPay | currency:"$"}}</td>
              <td>{{line.mhaPay | currency:"$"}}</td>
              <td>{{line.totalPay | currency:"$"}}</td>
              <td>{{line.preTax403b | currency:"$"}}</td>
              <td>{{line.roth403b | currency:"$"}}</td>
              <td>{{line.totalTax | currency:"$"}}</td>
              <td>{{line.otherDeductions | currency:"$"}}</td>
              <td class="total">{{line.netPay | currency:"$"}}</td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td>Total</td>

            <td>{{ summary | sum:'regularPay' | currency:"$" }}</td>
            <td>{{ summary | sum:'mhaPay' | currency:"$" }}</td>
            <td>{{ summary | sum:'totalPay' | currency:"$" }}</td>
            <td>{{ summary | sum:'preTax403b' | currency:"$" }}</td>
            <td>{{ summary | sum:'roth403b' | currency:"$" }}</td>
            <td>{{ summary | sum:'totalTax' | currency:"$" }}</td>
            <td>{{ summary | sum:'otherDeductions' | currency:"$" }}</td>
            <td>{{ summary | sum:'netPay' | currency:"$" }}</td>
          </tr>
          </tfoot>
      </table>
    </div>
</div>
